.material-icons-round {
    font-size: 2rem !important;
    color: #3DAFC5;
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
    .material-icons-round {
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 1024px) {
    .material-icons-round {
        font-size: 4.5rem !important;
    }
}